<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax</title>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        $(function () {
            // 绑定btnAjax的click实践
            $('#btnAjax').click(function () {
                alert(1)
                $.ajax({
                    'url': '/ajax_handle',
                    'dataType': 'json',
                    'async': false, //同步的ajax请求，默认为true，代表异步的ajax
                }).success(function (data) {
                    // 进行处理,根据返回json数据
                    alert(2)
                    if (data.res == 1){
                        $('#message').show().html('提示信息')
                    }
                })
                alert(3)
            })
        })
    </script>
    <style>
        .message{
            display: none;
            color: red;
        }
    </style>
</head>
<body>
<input type="button" value="ajax请求" id="btnAjax">
<div class="message" id="message"></div>
</body>
</html>